.modal__background {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
  overflow-y: auto;
}

.modal__content {
  width: auto;
  max-width: 95%;
  border-radius: 20px;
  position: relative;
  background-color: white;
  padding: 0px;
  background-position:
    50% 50%,
    0 0;
  background-size: 3.125rem, auto;
  margin: auto;
}
.modal__content::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 600px) {
  .modal__content {
    min-width: unset;
    width: calc(100% - 30px);
    margin: 15px auto;
    border-radius: 16px;
  }
}

.modal__content__close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: black;
  font-weight: 900;
  font-size: 24px;
}

.modal__content::-webkit-scrollbar {
  width: 5px;
}

.modal__content::-webkit-scrollbar-track {
  border-radius: 10px;
}
